extends layout

block content
	title Activity Log
	.ui.middle.center.aligned.grid.stackable.doubling
		// Title
		.fourteen.wide.column.row#menu-row
			.ui.container
				h1.ui.dividing.header.center.aligned Activity Log

		// Table Proper
		.ui.container
			table#AR-view-table.ui.celled.table.selectable
				thead
					tr
						th Type
						th Issued By
						th Date
				tbody
					each item, index in transactions
						tr.entry(data-an= item.adviceNumber)

							td= item.message
							td= item.issuedBy
							td= item.timestamp

			.actions
				.ui.green.ok.inverted.button
					i.checkmark.icon
					| Done

	script(type='text/javascript').
		var employees =!{JSON.stringify(employees)};
		var transactions =!{JSON.stringify(transactions)};
	script(type='text/javascript', src='/javascripts/sorttable.js')
	script(src='javascripts/table.js')
	script(type='text/javascript', src='/javascripts/payslip_view.js')
