extends layout

block content
	title AR View

	.ui.middle.center.aligned.grid.stackable.doubling
		// Title
		.fourteen.wide.column.row#menu-row
			.ui.center.aligned.container
				h1.ui.dividing.header.center.aligned Acknowledgment Receipt


		// buttons
		.ui.container.right.aligned
			//- .search-bar.ui.action.input
			//- 	input(type='text', placeholder='Search...')
			//- 	button.ui.basic.circular.icon.button
			//- 		i.search.icon
			#add-AR-label.ui.pointing.below.red.basic.label
				| Add AR
			button#add-AR-button.ui.basic.circular.icon.button(onclick="location.replace('/AR')")
				i.plus.icon
			#edit-AR-label.ui.pointing.below.red.basic.label
				| Edit AR
			button#edit-AR-button.ui.basic.circular.icon.button
				i.edit.icon
			#delete-AR-label.ui.pointing.below.red.basic.label
				| Delete AR
			button#delete-AR-button.ui.basic.circular.icon.button
				i.trash.outline.icon



		// Table Proper
		.ui.segment.container.fortable
			table#AR-view-table.ui.celled.table.selectable
				thead
					tr
						th.one.wide
							.ui.master.checkbox
								input#ar-master-checkbox(type="checkbox", name="ar-master-checkbox")
								label
						th.one.wide AN
						th.two.wide Issued By
						th.three.wide Name
						th.two.wide Date
						th Particulars
						th.two.wide Amount
				tbody
					for item in transactions
						tr
							td
								.ui.checkbox
									input.ar-checkbox(type="checkbox", name="ar-checkbox", data-an=item.adviceNumber)
									label
							td= item.adviceNumber
							td= item.issuedBy
							td= item.name
							td.date= item.date
							td= item.particulars
							td= item.amount
						script.
							function formatDate(date) {
							  var monthNames = [
							    "January", "February", "March",
							    "April", "May", "June", "July",
							    "August", "September", "October",
							    "November", "December"
							  ];

							  var day = date.getDate();
							  var monthIndex = date.getMonth();
							  var year = date.getFullYear();

							  return monthNames[monthIndex] + ' ' + day + ', ' + year;
							}

							var item = !{JSON.stringify(item)};
							d = new Date(item.date);
							item.date = formatDate(d);
							console.log(item.date);
							$('td.date').last().text(item.date);

			//- .ui.segment.row
			//- 	.view-table
					
		//PRINT BUTTON
		.ui.container.bottomprint
			button#print-AR-button.ui.right.labeled.icon.button.right.floated.print
				|	Print
				i.print.icon

	.ui.small.modal#confirm-delete-modal
		.header Confirm
		.content
			| Confirm Deleting Data
		.actions
			.ui.positive.submit.right.button#delete OK
			.ui.red.right.cancel.button Cancel

	.ui.small.modal#alert-delete-modal
		.header Success
		.content
			| Deleting Data Successful
		.actions
			.ui.positive.submit.right.button#delete-alert OK

	//- script(type='text/javascript', src='/javascripts/sorttable.js')
	script(type='text/javascript', src='/javascripts/jquery.dataTables.min.js')
	script(type='text/javascript', src='/javascripts/dataTables.semantic-ui.min.js')
	
	script(type='text/javascript' src='/javascripts/scripts.js')
	script(type='text/javascript' src='/javascripts/AR_view.js')
	//- script(type='text/javascript').
	//- 	var sendAjax = function(values, link, success_function){
	//- 		return $.ajax({
	//- 			url: link,
	//- 			type: "POST",
	//- 			datatype: "json",
	//- 			data: JSON.stringify(values),
	//- 			contentType: "application/json; charset=utf-8",
	//- 			cache: "false",
	//- 			timeout: "10000",
	//- 			complete: function(){
	//- 				console.log('process complete')
	//- 			},
	//- 			success: success_function(),
	//- 			error: function(){
	//- 				console.log('process error')
	//- 			},
	//- 		});
	//- 	}

	//- 	$('#print-button').click(function(){
	//- 		$('table').printThis({
	//- 			header: "<div style='width: 100%; margin: 0 auto;'><img style='width: 20%;' src='images/header.png'></img></div>"
	//- 		});
	//- 	});

	//- 	$('#delete-AR-button').click(function(){
	//- 		var checkboxes = $('.ui.checkbox input:checked').map(function(i, element){
	//- 			return $(element).data('an');
	//- 		});
	//- 		//- console.log(checkboxes);
	//- 		sendAjax(checkboxes, '/deleteAR', function(){
	//- 			console.log('process success');
	//- 			window.location.reload();
	//- 		})
	//- 		.then((data) => {
	//- 			console.log('process success');
	//- 		});
	//- 	});
