extends layout

block content
	title CV View
	.ui.middle.center.aligned.grid.stackable.doubling
		// Title
		.seven.wide.column.row#menu-row
			.ui.center.aligned.container
				h1 Check Voucher
		// buttons
		.ui.container.right.aligned
			button#add-CV-button.ui.button(onclick="location.replace('/checkvoucher')") ADD
			button#edit-CV-button.ui.button EDIT
			button.ui.button#delete-checkVoucher-button DELETE
		// Table Proper
		.ui.container
			.ui.segment.row
				.view-table
					table#check-voucher-view-table.ui.table.fluid.selectable.sortable
						thead
							tr
								th
									.ui.master.checkbox
										input(type="checkbox", name="cv-master-checkbox")
										label
								th.collapsing AN#
								th.two.wide Issued By
								th.three.wide Name
								th.two.wide Date
								th Particulars
								th.two.wide Amount
						tbody
							for item in transactions
								tr
									td
										.ui.checkbox
											input(type="checkbox", name="cv-checkbox", data-an=item.adviceNumber)
											label
									td= item.adviceNumber
									td= item.issuedBy
									td= item.name
									td= item.date
									td= item.particulars
									td= item.amount


		// PRINT BUTTON
		.ui.container
			button.ui.button.right.floated.column#print-check-voucher-button Print


	script(type='text/javascript' src='javascripts/sorttable.js')
	script(type='text/javascript' src='javascripts/scripts.js')
	script(type='text/javascript' src='javascripts/checkvoucher_view.js')