extends layout

block content
	title CV View
	.ui.middle.center.aligned.grid.stackable.doubling
		// Title
		.fourteen.wide.column.row#menu-row
			.ui.center.aligned.container
				h1.ui.dividing.header.center.aligned Check Voucher
		// buttons
		.ui.container.right.aligned
			//- .search-bar.ui.action.input
			//- 	input(type='text', placeholder='Search...')
			//- 	button.ui.basic.circular.icon.button
			//- 		i.search.icon
			//- #add-CV-label.ui.right.pointing.red.basic.label
			//- 	| Add CV
			#add-CV-label.ui.pointing.below.red.basic.label
				| Add CV
			button#add-CV-button.ui.basic.circular.icon.button(onclick="location.replace('/checkvoucher')")
				i.plus.icon
			#edit-CV-label.ui.pointing.below.red.basic.label
				| Edit CV
			button#edit-CV-button.ui.basic.circular.icon.button
				i.edit.icon
			#delete-CV-label.ui.pointing.below.red.basic.label
				| Delete CV
			button#delete-CV-button.ui.basic.circular.icon.button
				i.trash.outline.icon
		// Table Proper
		.ui.segment.container.fortable
			table#check-voucher-view-table.ui.celled.table.selectable
				thead
					tr
						th.one.wide
							.ui.master.checkbox
								input#cv-master-checkbox(type="checkbox", name="cv-master-checkbox")
								label
						th.one.wide AN#
						th.two.wide Issued By
						th.three.wide Name
						th.two.wide Date
						th Particulars
						th.two.wide Amount
				tbody
					for item in transactions
						tr
							td
								.ui.checkbox
									input.cv-checkbox(type="checkbox", name="cv-checkbox", data-an=item.adviceNumber)
									label
							td= item.adviceNumber
							td= item.issuedBy
							td= item.name
							td.date= item.date
							td= item.particulars
							td= item.amount
						script.
							function formatDate(date) {
							  var monthNames = [
							    "January", "February", "March",
							    "April", "May", "June", "July",
							    "August", "September", "October",
							    "November", "December"
							  ];

							  var day = date.getDate();
							  var monthIndex = date.getMonth();
							  var year = date.getFullYear();

							  return monthNames[monthIndex] + ' ' + day + ', ' + year;
							}

							var item = !{JSON.stringify(item)};
							d = new Date(item.date);
							item.date = formatDate(d);
							console.log(item.date);
							$('td.date').last().text(item.date);

			//- .ui.segment.row
			//- 	.view-table


		// PRINT BUTTON
		.ui.container.bottomprint
			button#print-check-voucher-button.ui.right.labeled.icon.button.right.floated.print
				|	Print
				i.print.icon

	.ui.small.modal#confirm-delete-modal
		.header Confirm
		.content
			| Confirm Deleting Data
		.actions
			.ui.positive.submit.right.button#delete OK
			.ui.red.right.cancel.button Cancel

	.ui.small.modal#alert-delete-modal
		.header Success
		.content
			| Deleting Data Successful
		.actions
			.ui.positive.submit.right.button#delete-alert OK


	//- script(type='text/javascript' src='javascripts/sorttable.js')
	//- script(type='text/javascript' src='javascripts/scripts.js')
	script(type='text/javascript', src='/javascripts/jquery.dataTables.min.js')
	script(type='text/javascript', src='/javascripts/dataTables.semantic-ui.min.js')
	script(type='text/javascript' src='javascripts/checkvoucher_view.js')
	
