extends layout

block content
	title CV View
	.ui.middle.center.aligned.grid.stackable.doubling
		// Title
		.seven.wide.column.row#menu-row(style="margin-top:7vh; margin-bottom:0;")
			.section-title.ui.center.aligned.segment(style="margin-bottom:0;")
				h1 Check Voucher
		// buttons
		.row.button-row
			button#add-CV-button.ui.button(onclick="location.replace('/checkvoucher')") ADD
			.ui.button EDIT
			.ui.button DELETE
		// Table Proper
		.row
			.ui.container.view-table
				table#check-voucher-view-table.ui.table.fluid.selectable.sortable
					thead
						tr
							th.collapsing AN#
							th.two.wide Issued By
							th.three.wide Name
							th.two.wide Date
							th Particulars
							th.two.wide Amount
					tbody
						for item in transactions
							tr
								td= item.adviceNumber
								td= item.issuedBy
								td= item.name
								td= item.date
								td= item.particulars
								td= item.amount


		// PRINT BUTTON
		.fifteen.wide.column(style="padding: 0 1em 1em 1em !important;")
			button.ui.button.right.floated.column#print-check-voucher-button Print


	script(type='text/javascript' src='javascripts/sorttable.js')
	script(type='text/javascript' src='javascripts/scripts.js')