//- link(rel="stylesheet", type="text/css", href="semantic/dist/semantic.min.css")
//- script(src="semantic/dist/semantic.min.js")
extends layout

block content
	// <script src="http://semantic-ui.com/javascript/library/tablesort.js"></script>
	.ui.middle.aligned.center.aligned.grid
		// Table Title
		.row#menu-row
			#section-title.ui.center.aligned(style='margin: 80 10 10 10;')
				h1 Check Voucher
		// buttons
		.row(style="padding: 0 1em 1em 1em !important;")
			button.ui.button(onclick="location.replace('/checkvoucher')") ADD
			.ui.button EDIT
			.ui.button DELETE
		//- .ui.fitted.divider

		// Table Proper
		.row
			.ui.container(style="overflow-y:scroll; height: 55vh;")
				table#check-voucher-view-table.ui.very.basic.table.fluid.selectable.sortable
					thead
						tr
							th.collapsing AN#
							th.two.wide Issued By
							th.three.wide Name
							th.two.wide Date
							th Particulars
							th.two.wide Amount
					tbody
						for item in transactions
							tr
								td= item.adviceNumber
								td= item.issuedBy
								td= item.name
								td= item.date
								td= item.particulars
								td= item.amount


		// PRINT BUTTON
		.fifteen.wide.column(style="padding: 0 1em 1em 1em !important;")
			button.ui.button.right.floated.column#print-check-voucher-button Print


	script(src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js")
	script(type='text/javascript' src='javascripts/scripts.js')
	script(type='text/javascript').
		$('#print-button').click(function(){
			$('table').printThis({
				header: "<div style='width: 100%; margin: 0 auto;'><img style='width: 20%;' src='images/header.png'></img></div>"
			});
		});
	