extends layout

block content
	title Add Payslip
	//- .ui.container(style="margin: 15vh 0 0 0; padding: 0 8vh 0 0")
	.block-content-container.ui.container
		.two.fields.center2
			.field
				i.money.icon.huge.red
			.field
				h2.ui.dividing.header Edit Payslip
		form.ui.form.center2.box#payslip(name='editPayslip', method='post', action='/editPayslip')
			input#an(type='hidden' name='an')
			.field
				label Choose Employee
				select(name="employeeDropdown").ui.fluid.search.dropdown#employeeDropdown
					option(value="") Select Employee
					each employee, index in employees
						option(value=employee.eID)= employee.name

			.field
				label Choose Company
				select(name="companyDropdown").ui.fluid.search.dropdown#companyDropdown
					option(value="") Select Company
					option(value="apples") Apples
					option(value="berries") Berries

			.two.fields
				.field
					label Start Date
					.ui.calendar#rangestart
						.ui.input.left.icon
							i.calendar.icon
							input#startDate(name="startDate", type="text", placeholder="start")
				.field
					label End Date
					.ui.calendar#rangeend
						.ui.input.left.icon
							i.calendar.icon
							input#endDate(name="endDate", type='text', placeholder="end")
			.field
				.ui.slider.checkbox#thirteenth-edit
					input(type="checkbox", name="thirteenth", value=0)
					label 13th month pay?

			.field
				.ui.grid
					.eight.wide.column
						.field.deductibles
							.two.fields
								.field
									label Deductibles
									.ui.input.deductibles-name
										input(name="deductibles_name", type="text", placeholder="Item")
								.field
									label Amount
									.ui.input.deductibles-amount
										input(name="deductibles", type="number", placeholder="Amount...", value=0)
						.field#deductibles-side
							.ui.button#add-deductibles Add a row
							.ui.button#delete-deductibles Delete a row


					.eight.wide.column
						.field.allowance
							.two.fields
								.field
									label Allowance
									.ui.input.allowance-name
										input(name="allowance_name", type="text", placeholder="Item")
								.field
									label Amount
									.ui.input.allowance-amount
										input(name="allowance", type="number", placeholder="Amount...", value=0)
						.field#allowance-side
							.ui.button#add-allowance Add a row
							.ui.button#delete-allowance Delete a row

			.ui.modal
				i.close.icon
				.header Pay Slip Preview
				.content(style="padding-top: 0;")
					img.ui.centered.medium.image(src='images/header.png', style='padding-bottom: 1.5rem;')
					.ui.grid
						.one.wide.column.right-align
							b AN:
						.two.wide.column
							#AN.div-underline.center-align
								span.center-align
						.two.wide.column.right-align
							b Name: 
						.four.wide.column
							#name.div-underline.center-align
								span.center-align
						.three.wide.column.right-align
							b Date Issued:
						.four.wide.column
							#dateToday.div-underline.center-align
								span.center-align

						.two.wide.column.right-align
							b Company: 
						.six.wide.column
							#company.div-underline
								span.indent
						.two.wide.column.right-align
							b Gross:
						.six.wide.column
							#gross.div-underline
								span.indent
						.two.wide.column.right-align
							b Date Start:
						.five.wide.column
							#dateStart.div-underline.center-align
								span.center-align
						.three.wide.column.right-align
							b Date End:
						.six.wide.column
							#dateEnd.div-underline.center-align
								span.center-align
						.two.wide.column.right-align
							b PhilHealth:
						.two.wide.column
							#philHealth.div-underline
								span.indent-1
						.one.wide.column.right-align
							b SSS:
						.three.wide.column
							#SSS.div-underline.center-align
								span
						.two.wide.column.right-align
							b HDMF:
						.two.wide.column
							#HDMF.div-underline.center-align
								span
						.one.wide.column.right-align
							b BIR:
						.three.wide.column
							#BIR.div-underline.center-align
								span

						.eight.wide.column
							table.ui.small.compact.celled.table#deductibles-table
								thead
									tr
										th Deductibles
										th Amount
								tbody
						.eight.wide.column
							table.ui.small.compact.celled.table#allowance-table
								thead
									tr
										th Allowance
										th Amount
								tbody
						br
						.four.wide.right.floated.column
							b Total: 
							#total.div-underline
								span
				.actions
					.ui.disabled.primary.button.submit Submit
					.ui.button.print Print

			.ui.primary.button#payslip-preview Preview
			.ui.error.message

	script(type='text/javascript').
		var employees =!{JSON.stringify(employees)};
		var philHealth =!{JSON.stringify(philHealth)};
		var sss =!{JSON.stringify(sss)};
		var bir =!{JSON.stringify(bir)};
		var metadata =!{JSON.stringify(metadata)};
	script(type='text/javascript').
		var paySlip =!{JSON.stringify(paySlip)};
		function getParameterByName(name, url) {
			if (!url) {
				url = window.location.href;
			}
			name = name.replace(/[\[\]]/g, "\\$&");
			var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
					results = regex.exec(url);
			if (!results) return null;
			if (!results[2]) return '';
			return decodeURIComponent(results[2].replace(/\+/g, " "));
		}
		var an = {};
		an.number = getParameterByName('an');
		$('input#an').val(an.number);
		var p = $.grep(paySlip, function(e){ return e.adviceNumber === parseInt(an.number); });
		p = p[0];

		$('#employeeDropdown').val((p.eID).toString()).change();
		$('#companyDropdown').val((p.company)).change();
		$('#startDate').val(p.startDate);
		$('#endDate').val(p.endDate);
		if(p.startDate === undefined && p.endDate === undefined) $('#thirteenth input').prop('checked', true);

		var i;
		for(i = 0; i < (p.deductibles_name).length-1; i++){
			$('.deductibles-name input').last().val((p.deductibles_name)[i]);
			$('.deductibles-amount input').last().val((p.deductibles)[i]);
			$('#deductibles-side').before('<div class="field deductibles addition"><div class="two fields"><div class="field"><label>Deductibles</label><div class="ui input deductibles-name"><input name="deductibles_name" type="text" placeholder="Item"></div></div><div class="field"><label>Amount</label><div class="ui input deductibles-amount"><input name="deductibles" type="number" placeholder="Amount..."></div></div></div></div>');
		}
		$('.deductibles-name input').last().val((p.deductibles_name)[i]);
		$('.deductibles-amount input').last().val((p.deductibles)[i]);

		for(i = 0; i < (p.allowance_name).length-1; i++){
			$('.allowance-name input').last().val((p.allowance_name)[i]);
			$('.allowance-amount input').last().val((p.allowance)[i]);
			$('#allowance-side').before('<div class="field allowance addition"><div class="two fields"><div class="field"><label>Allowance</label><div class="ui input allowance-name"><input name="allowance_name" type="text" placeholder="Item"></div></div><div class="field"><label>Amount</label><div class="ui input allowance-amount"><input name="allowance" type="number" placeholder="Amount..."></div></div></div></div>');
		}
		$('.allowance-name input').last().val((p.allowance_name)[i]);
		$('.allowance-amount input').last().val((p.allowance)[i]);

		var employee = $.grep(employees, function(e){ return e.eID === p.eID; });
		$('#name span').text(employee[0].name);

	script(type='text/javascript' src='javascripts/scripts.js')
