extends layout

block content
	title EmployeePanel
	ul.custom-menu
		li(data-action="edit") Edit
			i.edit.icon
		li(data-action="delete") Un-hire
			i.remove.user.icon
	.ui.middle.center.aligned.grid.stackable.doubling
		// Title
		.fourteen.wide.column.row#menu-row
			.ui.center.aligned.container
				h1.ui.dividing.header.center.aligned Employees

		// buttons
		.ui.container.right.aligned
			//- .search-bar.ui.action.input
			//- 	input(type='text', placeholder='Search...')
			//- 	button.ui.basic.circular.icon.button
			//- 		i.search.icon
			#add-employee-label.ui.right.pointing.red.basic.label
				| Add Employee
			button#add-employee-button.ui.basic.circular.icon.button(onclick="location.replace('/employees/add')")
				i.add.user.icon
			//- button#edit-AR-button.ui.basic.circular.icon.button
			//- 	i.edit.icon
			//- button#delete-AR-button.ui.basic.circular.icon.button
			//- 	i.trash.outline.icon

		//- .row.button-row
		//- 	button#add-employee-button.ui.basic.icon.button(onclick="location.replace('/employees/add')") Add Employee
		//- 		i.add.user.icon
		//Table Proper
		.ui.segment.container.fortable
			table#employee-view-table.ui.celled.table.selectable
				thead
					tr(style="background-color: #")
						th
							.ui.master.checkbox
								input#employee-master-checkbox(type="checkbox", name="employee-master-checkbox")
								label
						th eID
						th Name
						th Start Date
						th Birthday
						th Position
						th Status
						th Dependents
						th Salary
				tbody
					for employee in employees
						tr.employee
							td
								.ui.checkbox
									input.employee-checkbox(type="checkbox", name="employee-checkbox")
									label
							td(data-eid=employee.eID)= employee.eID
							td= employee.name
							td= employee.startDate
							td= employee.birthday
							if employee.position == 0
								td Teacher
							else if employee.position == 1
								td Admin
							else if employee.position == 2
								td Staff
							if employee.status == 0
								td Single
							else if employee.status == 1
								td Married
							td= employee.dependents
							td= employee.salary

			//- .ui.segment.row
				.view-table



		//PRINT BUTTON
		.ui.container.bottomprint
			button#print-employee-button.ui.right.labeled.icon.button.right.floated.print
				|	Print
				i.print.icon


	.ui.small.modal#confirm-delete-modal
		.header Confirm
		.content
			| Confirm Unhiring Employee
		.actions
			#delete.ui.positive.submit.right.button OK
	

			//- .ui.positive.submit.right.button#delete OK
			.ui.red.right.cancel.button Cancel

	.ui.small.modal#alert-delete-modal
		.header Success
		.content
			| Unhiring Employee Successful
		.actions
			.ui.positive.submit.right.button#delete-alert OK

	script(type='text/javascript', src='/javascripts/jquery.dataTables.min.js')
	script(type='text/javascript', src='/javascripts/dataTables.semantic-ui.min.js')
	script(type='text/javascript', src='/javascripts/employeepanel.js')
