extends layout

block content
	title EmployeePanel
	ul.custom-menu
		li(data-action="edit") Edit
		li(data-action="delete") Un-hire
	.ui.middle.center.aligned.grid.stackable.doubling
		// Title
		.seven.wide.column.row#menu-row
			.ui.center.aligned.segment
				h1 Employees 

		// buttons
		.row.button-row
			.ui.right.floated.button(onclick="location.replace('/employees/add')") ADD

		//Table Proper
		.ui.raised.segment.row
			.ui.container.view-table
				table#employee-view-table.ui.table.sortable.selectable
					thead
						tr(style="background-color: #")
							th
								.ui.master.checkbox
									input(type="checkbox", name="employee-master-checkbox")
									label
							th eID
							th Name
							th Start Date
							th Birthday
							th Position
							th Status
							th Dependents
							th Salary
					tbody
						for employee in employees
							tr.employee
								td
									.ui.checkbox
										input(type="checkbox", name="employee-checkbox")
										label
								td(data-eid=employee.eID)= employee.eID
								td= employee.name
								td= employee.startDate
								td= employee.birthday
								if employee.position == 0
									td Teacher
								else if employee.position == 1
									td Admin
								else if employee.position == 2
									td Staff
								if employee.status == 0
									td Single
								else if employee.status == 1
									td Marries
								td= employee.dependents
								td= employee.salary

		//PRINT BUTTON
		.fifteen.wide.column(style="padding: 0 1em 1em 1em !important;")
			button.ui.button.right.floated.column#print-employee-button Print

	.ui.small.modal
		.header Confirm
		.content
			| Confirm Delete Employee
		.actions
			.ui.positive.submit.right.button#delete OK

	script(type='text/javascript', src='/javascripts/sorttable.js')
	script(type='text/javascript', src='/javascripts/employeepanel.js')