extends layout

block content
	.ui.middle.aligned.center.aligned.grid.stackable.doubling
		// Title
		.row#menu-row
			.ui.center.aligned
				h1 Employees 
		.row
			button.ui.button(onclick="location.replace('/employees/add')") ADD
			button.ui.button(onclick="location.replace('/employees/editEmployee')") EDIT
			button.ui.button(onclick="location.replace('/employees/delete')") DELETE
		column.row.sixteen.wide
			.column.sixteen.wide.middle.floated
				table.ui.table.fluid.collapsing.selectable.line.sortable.top.aligned
					thead
						tr
							th eID
							th Name
							th Start Date
							th Birthday
							th Position
							th Status
							th Dependents
							th Salary
					tbody
						for employee in employees
							tr
								td= employee.eID
								td= employee.name
								td= employee.startDate
								td= employee.birthday
								if employee.position == 0
									td Teacher
								else if employee.position == 1
									td Admin
								else if employee.position == 2
									td Staff
								if employee.status == 0
									td Single
								else if employee.status == 1
									td Marries
								td= employee.dependents
								td= employee.salary
		//- .four.column.wide.row
		//- 	.column
		//- 		button.ui.animated.fade.red.button.fluid(tabindex="0" onclick="location.replace('/employees/add')")
		//- 			.visible.content
		//- 				.ui.grid
		//- 					.row
		//- 					.row
		//- 					.row
		//- 						.ui.container
		//- 							h1 Add Employee
		//- 					.row
		//- 					.row
		//- 			.hidden.content
		//- 				| Add a new employee
		//- 	.column
		//- 		.ui.animated.fade.red.button.fluid(tabindex="0" onclick="location.replace('/employees/editEmployee')")
		//- 			.visible.content
		//- 				.ui.grid
		//- 					.row
		//- 					.row
		//- 					.row
		//- 						.ui.container
		//- 							h1 Edit Employee
		//- 					.row
		//- 					.row
		//- 			.hidden.content
		//- 				| Edit an existing employee
		//- // 2nd ROW Buttons
		//- .four.column.wide.row
		//- 	.column
		//- 		.ui.animated.fade.red.button.fluid(tabindex="0" onclick="location.replace('/employees/delete')")
		//- 			.visible.content
		//- 				.ui.grid
		//- 					.row
		//- 					.row
		//- 					.row
		//- 						.ui.container
		//- 							h1 Delete Employee
		//- 					.row
		//- 					.row
		//- 			.hidden.content
		//- 				| Delete an existing employee
	script(src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js")