extends layout

block content
	title Add Payslip
	.block-content-container.ui.container
		.two.fields.center2
			.field
				i.money.icon.huge.red
			.field
				h2.ui.dividing.header Issue Payslip
		form.ui.form.center2.box#payslip(name='payslip', method='post', action='/payslip')
			.field
				label Choose Employee
				select(name="employeeDropdown").ui.fluid.search.dropdown#employeeDropdown
					option(value="") Select Employee
					each employee, index in employees
						option(value=employee.eID)= employee.name

			.field
				label Choose Company
				select(name="companyDropdown").ui.fluid.search.dropdown#companyDropdown
					option(value="") Select Company
					option(value="apples") Apples
					option(value="berries") Berries

			.two.fields
				.field
					label Start Date
					.ui.calendar#rangestart
						.ui.input.left.icon
							i.calendar.icon
							input(name="startDate", type="text", placeholder="start")
				.field
					label End Date
					.ui.calendar#rangeend
						.ui.input.left.icon
							i.calendar.icon
							input(name="endDate", type='text', placeholder="end")
			.field
				.ui.slider.checkbox#thirteenth
					input(type="checkbox", name="thirteenth", value=0)
					label 13th month pay?

			.field
				.ui.grid
					.eight.wide.column
						.field.deductibles
							.two.fields
								.field
									label Deductibles
									.ui.input.deductibles-name
										input(name="deductibles_name", type="text", placeholder="Item")
								.field
									label Amount
									.ui.input.deductibles-amount
										input(name="deductibles", type="number", placeholder="Amount...", value=0)
						.field#deductibles-side
							.ui.button#add-deductibles Add a row
							.ui.button#delete-deductibles Delete a row


					.eight.wide.column
						.field.allowance
							.two.fields
								.field
									label Allowance
									.ui.input.allowance-name
										input(name="allowance_name", type="text", placeholder="Item")
								.field
									label Amount
									.ui.input.allowance-amount
										input(name="allowance", type="number", placeholder="Amount...", value=0)
						.field#allowance-side
							.ui.button#add-allowance Add a row
							.ui.button#delete-allowance Delete a row

			.ui.modal
				i.close.icon
				.header Pay Slip Preview
				.content(style="padding-top: 0;")
					img.ui.centered.medium.image(src='images/header.png', style='padding-bottom: 1.5rem;')
					.ui.grid
						.one.wide.column.right-align
							b AN:
						.two.wide.column
							#AN.div-underline.center-align
								span.center-align
						.two.wide.column.right-align
							b Name: 
						.four.wide.column
							#name.div-underline.center-align
								span.center-align
						.three.wide.column.right-align
							b Date Issued:
						.four.wide.column
							#dateToday.div-underline.center-align
								span.center-align

						.two.wide.column.right-align
							b Company: 
						.six.wide.column
							#company.div-underline
								span.indent
						.two.wide.column.right-align
							b Gross:
						.six.wide.column
							#gross.div-underline
								span.indent
						.two.wide.column.right-align
							b Date Start:
						.five.wide.column
							#dateStart.div-underline.center-align
								span.center-align
						.three.wide.column.right-align
							b Date End:
						.six.wide.column
							#dateEnd.div-underline.center-align
								span.center-align
						.two.wide.column.right-align
							b PhilHealth:
						.two.wide.column
							#philHealth.div-underline
								span.indent-1
						.one.wide.column.right-align
							b SSS:
						.three.wide.column
							#SSS.div-underline.center-align
								span
						.two.wide.column.right-align
							b HDMF:
						.two.wide.column
							#HDMF.div-underline.center-align
								span
						.one.wide.column.right-align
							b BIR:
						.three.wide.column
							#BIR.div-underline.center-align
								span

						.eight.wide.column
							table.ui.small.compact.celled.table#deductibles-table
								thead
									tr
										th Deductibles
										th Amount
								tbody
						.eight.wide.column
							table.ui.small.compact.celled.table#allowance-table
								thead
									tr
										th Allowance
										th Amount
								tbody
						br
						.four.wide.right.floated.column
							b Total: 
							#total.div-underline
								span
				.actions
					.ui.disabled.primary.button.submit Submit
					.ui.button.print Print

			.ui.primary.button#payslip-preview Preview
			.ui.error.message

	script(type='text/javascript').
		var employees =!{JSON.stringify(employees)};
		var philHealth =!{JSON.stringify(philHealth)};
		var sss =!{JSON.stringify(sss)};
		var bir =!{JSON.stringify(bir)};
		var metadata =!{JSON.stringify(metadata)};
		var an =!{JSON.stringify(an)};
	script(type='text/javascript' src='javascripts/scripts.js')
	script.
		console.log($('#rangestart').calendar('get date'));
