extends layout

block content
	title Payslip View
	ul.custom-menu
		li(data-action="edit") Edit
		li(data-action="view") View
	.ui.middle.center.aligned.grid.stackable.doubling
		// Title
		.seven.wide.column.row#menu-row
			.ui.center.aligned.segment
				h1 Payslip  

		// buttons
		.row.button-row
			button#add-payslip-button.ui.button(onclick="location.replace('/payslip')") ADD
			#edit-payslip-button.ui.button EDIT
			#delete-payslip-button.ui.button DELETE

		// Table Proper
		.ui.raised.segment.row
			.ui.container.view-table
				table#payslip-view-table.ui.table.sortable.selectable
					thead
						tr
							th
								.ui.master.checkbox
									input(type="checkbox", name="employee-master-checkbox")
									label
							th AN
							th Issued By
							th eID
							th Name
							th Base Salary
							th Start Date
							th End Date
							//- th Deductibles
							//- th Amount
							//- th Allowance
							//- th Amount
							//- th PhilHealth
							//- th SSS
							//- th HDMF
							//- th ER PhilHealth
							//- th ER SSS
							//- th ER HDMF
							//- th BIR Tax
							th Net
					tbody
						each item, index in transactions
							tr.entry(data-an= item.adviceNumber)
								td
									.ui.checkbox
										input(type="checkbox", name="employee-checkbox", data-an=item.adviceNumber)
										label
								td= item.adviceNumber
								td= item.issuedBy
								td.eID(value=item.eID)= item.eID
								td= item.startDate
								td.endDate= item.endDate
								//- td= item.deductibles_name
								//- td= item.deductibles
								//- td= item.allowance_name
								//- td= item.allowance
								//- td= item.PHreduc
								//- td= item.SSSreduc
								//- td= item.HDMFreduc
								//- td= item.EmployerPH
								//- td= item.EmployerSSS
								//- td= item.EmployerHDMF
								//- td= item.BIR
								td= item.total

		//PRINT BUTTON
		//- .fifteen.wide.column(style="padding: 0 1em 1em 1em !important;")
		button.ui.button.right.floated.column#print-payslip-button Print
		
		.ui.basic.modal.view
			//- .ui.icon.header
			//- 	i.file.text.icon
			//- 	| View Data
			.ui.icon.header
				h1
					| View Data
			.content
				.ui.grid
					.one.wide.column.right-align
						| AN:
					.two.wide.column
						#AN.div-underline.center-align
							span.center-align
					.two.wide.column.right-align
						| Name: 
					.four.wide.column
						#name.div-underline.center-align
							span.center-align
					.three.wide.column.right-align
						| Date Issued:
					.four.wide.column
						#dateToday.div-underline.center-align
							span.center-align

					.two.wide.column.right-align
						| Company: 
					.fourteen.wide.column
						#company.div-underline
							span.indent
					.two.wide.column.right-align
						| Date Start:
					.five.wide.column
						#dateStart.div-underline.center-align
							span.center-align
					.three.wide.column.right-align
						| Date End:
					.six.wide.column
						#dateEnd.div-underline.center-align
							span.center-align
					.two.wide.column.right-align
						| Gross:
					.fourteen.wide.column
						#gross.div-underline
							span.indent
					.two.wide.column.right-align
						| PhilHealth:
					.two.wide.column
						#philHealth.div-underline
							span.indent-1
					.one.wide.column.right-align
						| SSS:
					.three.wide.column
						#SSS.div-underline.center-align
							span
					.two.wide.column.right-align
						| HDMF:
					.two.wide.column
						#HDMF.div-underline.center-align
							span
					.one.wide.column.right-align
						| BIR:
					.three.wide.column
						#BIR.div-underline.center-align
							span

					.four.wide.column
						h3
							b
								| FOR EMPLOYERS:
					.two.wide.column.right-align
						| PhilHealth:
					.two.wide.column
						#philHealthER.div-underline
							span.indent-1
					.one.wide.column.right-align
						| SSS:
					.three.wide.column
						#SSSER.div-underline.center-align
							span
					.two.wide.column.right-align
						| HDMF:
					.two.wide.column
						#HDMFER.div-underline.center-align
							span
					.eight.wide.column
						table.ui.small.compact.celled.inverted.table#deductibles-table
							thead
								tr
									th Deductibles
									th Amount
							tbody
					.eight.wide.column
						table.ui.small.compact.celled.inverted.table#allowance-table
							thead
								tr
									th Allowance
									th Amount
							tbody
					br
					.four.wide.right.floated.column
						| Total: 
						#total.div-underline
							span
			.actions
				.ui.green.ok.inverted.button
					i.checkmark.icon
					| Done

	script(type='text/javascript', src='/javascripts/sorttable.js')
	script(type='text/javascript', src='/javascripts/payslip_view.js')
		
	//- script(type='text/javascript').
	//- 	var employees =!{JSON.stringify(employees)};
	//- 	//- console.log(transactions);
	//- 	var transactions =!{JSON.stringify(transactions)};
	//- script(type='text/javascript' src='javascripts/scripts.js')
	//- script(src='javascripts/table.js')
	//- script(type='text/javascript').
	//- 	var eID = -1;
	//- 	// Trigger action when the contexmenu is about to be shown
	//- 	$('tr').on("contextmenu", function (event) {
	//- 		eID = parseInt($(this).children('td').eq(1).attr('data-eid'));
	//- 		// Avoid the real one
	//- 		event.preventDefault();
	//- 		// Show contextmenu
	//- 		$(".custom-menu").finish().toggle(100).
	//- 		// In the right position (the mouse)
	//- 		css({
	//- 			top: event.pageY - 13 + "px",
	//- 			left: event.pageX + "px"
	//- 		});
	//- 	});


	//- 	// If the document is clicked somewhere
	//- 	$(document).bind("mousedown", function (e) {
	//- 		// If the clicked element is not the menu
	//- 		if (!$(e.target).parents(".custom-menu").length > 0) {
	//- 			// Hide it
	//- 			e.preventDefault();
	//- 			$(".custom-menu").hide(100);
	//- 		}
	//- 	});


	//- 	// If the menu element is clicked
	//- 	$(".custom-menu li").click(function(){
	//- 		// This is the triggered action name
	//- 		switch($(this).attr("data-action")) {
	//- 			// A case for each action. Your actions here
	//- 			case "edit":
	//- 				window.location = '/employees/editEmployee?eID=' + eID;
	//- 				//- alert($(this).parent().attr('data-eid'));
	//- 				break;
	//- 			//- case "delete":
	//- 			//- 	$('.small.modal').modal('show');
	//- 			//- 	break;
	//- 		}			
	//- 			// Hide it AFTER the action was triggered
	//- 		$(".custom-menu").hide(100);
	//- 	});

	//- 	$('.submit').click(function(){
	//- 		$.post('/employees/deleteEmployee', {
	//- 			eID: eID
	//- 		}, function(){
	//- 			alert('delete success!');
	//- 			window.location.reload();
	//- 		});
	//- 	});

	//- 	var sendAjax = function(values, link, success_function){
	//- 		return $.ajax({
	//- 			url: link,
	//- 			type: "POST",
	//- 			datatype: "json",
	//- 			data: JSON.stringify(values),
	//- 			contentType: "application/json; charset=utf-8",
	//- 			cache: "false",
	//- 			timeout: "10000",
	//- 			complete: function(){
	//- 				console.log('process complete')
	//- 			},
	//- 			success: success_function(),
	//- 			error: function(){
	//- 				console.log('process error')
	//- 			},
	//- 		});
	//- 	}

	//- 	$('.ui.checkbox input').click(function(event){
	//- 		event.stopPropagation();
	//- 		//- return false;
	//- 	})

	//- 	$('#delete-payslip-button').click(function(){
	//- 		var checkboxes = $('.ui.checkbox input:checked').map(function(i, element){
	//- 			return $(element).data('an');
	//- 		});
	//- 		//- console.log(checkboxes);
	//- 		sendAjax(checkboxes, '/deletePaySlip', function(){
	//- 			console.log('process success');
	//- 			window.location.reload();
	//- 		});
	//- 	});

	//- 	$('tr.entry').click(function(){
	//- 		console.log($(this).data('an'));
	//- 		//adviceNumber, eID, issuedBy, dateIssued, company, deductibles_name, deductibles, allowance_name, allowance, startDate, endDate, PHreduc, SSSreduc, HDMFreduc, EmployerPH, EmployerSSS, EmployerHDMF, BIR, total
	//- 		sendAjax([$(this).data('an')], '/viewAllPaySlip', function(){
	//- 			console.log("process success");
	//- 		})
	//- 		.done(data => {
	//- 			console.log(data.data);
	//- 			$('#AN span').text(data.data[0].adviceNumber);
	//- 			$('#name span').text(data.data[1].name);
	//- 			$('#dateToday span').text(data.data[0].dateIssued);
	//- 			$('#company span').text(data.data[0].company);
	//- 			$('#dateStart span').text(data.data[0].startDate);
	//- 			$('#dateEnd span').text(data.data[0].endDate);
	//- 			$('#gross span').text(data.data[1].salary);
	//- 			$('#philHealth span').text(data.data[0].PHreduc);
	//- 			$('#SSS span').text(data.data[0].SSSreduc);
	//- 			$('#HDMF span').text(data.data[0].PHreduc);
	//- 			$('#BIR span').text(data.data[0].BIR);
	//- 			$('#philHealthER span').text(data.data[0].EmployerPH);
	//- 			$('#SSSER span').text(data.data[0].EmployerSSS);
	//- 			$('#HDMFER span').text(data.data[0].EmployerHDMF);
	//- 			try{
	//- 				data.data[0].deductibles.forEach(function(value, index){
	//- 					$('table#deductibles-table tbody').append('<tr><td>'+ data.data[0].deductibles_name[index] +'</td><td>'+ value +'</td></tr>');
	//- 				});

	//- 				data.data[0].allowance.forEach(function(value, index){
	//- 					$('table#allowance-table tbody').append('<tr><td>'+ data.data[0].allowance_name[index] +'</td><td>'+ value +'</td></tr>');
	//- 				});
	//- 			}
	//- 			catch(err){
	//- 				console.log(err);
	//- 			}
	//- 			$("#total span").text(data.data[0].total);
	//- 			$('.ui.basic.modal.view').modal('show');
	//- 		});
	//- 	});

	//- 	$('.ui.modal.view')
	//- 	.modal({
	//- 		onHide: function(){
	//- 			$('.ui.modal').find('tbody tr').remove();
	//- 			$('#philHealth span').text('N/A');
	//- 			$('#SSS span').text('N/A');
	//- 			$('#HDMF span').text('N/A');
	//- 			$('#AN span').text('N/A');
	//- 		}
	//- 	});	