extends layout

block content
	title Payslip View
	.ui.middle.center.aligned.grid.stackable.doubling
		// Title
		.seven.wide.column.row#menu-row(style="margin-top:7vh; margin-bottom:0;")
			.section-title.ui.center.aligned.segment(style="margin-bottom:0;")
				h1 Payslip  

		// buttons
		.row.button-row
			button#add-payslip-button.ui.button(onclick="location.replace('/payslip')") ADD
			#edit-payslip-button.ui.button EDIT
			#delete-payslip-button.ui.button DELETE

		// Table Proper
		.ui.raised.segment.row
			.ui.container.view-table
				table#payslip-view-table.ui.table.sortable.selectable
					thead
						tr
							th
								.ui.master.checkbox
									input(type="checkbox", name="emmployee-master-checkbox")
									label
							th AN
							th Issued By
							//- th eID
							th Name
							th Base Salary
							th Start Date
							th End Date
							//- th Deductibles
							//- th Amount
							//- th Allowance
							//- th Amount
							//- th PhilHealth
							//- th SSS
							//- th HDMF
							//- th ER PhilHealth
							//- th ER SSS
							//- th ER HDMF
							//- th BIR Tax
							th Net
					tbody
						each item, index in transactions
							tr
								td
									.ui.master.checkbox
										input(type="checkbox", name="emmployee-master-checkbox")
										label
								td= item.adviceNumber
								td= item.issuedBy
								//- td.eID(value=item.eID)= item.eID
								td= item.startDate
								td.endDate= item.endDate
								//- td= item.deductibles_name
								//- td= item.deductibles
								//- td= item.allowance_name
								//- td= item.allowance
								//- td= item.PHreduc
								//- td= item.SSSreduc
								//- td= item.HDMFreduc
								//- td= item.EmployerPH
								//- td= item.EmployerSSS
								//- td= item.EmployerHDMF
								//- td= item.BIR
								td= item.total

		//PRINT BUTTON
		.fifteen.wide.column(style="padding: 0 1em 1em 1em !important;")
			button.ui.button.right.floated.column#print-payslip-button Print


	script(type='text/javascript', src='/javascripts/sorttable.js')
	script(type='text/javascript' src='javascripts/scripts.js')
	script(type='text/javascript').
		var employees =!{JSON.stringify(employees)};
		var transactions =!{JSON.stringify(transactions)};
	script(src='javascripts/table.js')