extends layout

block content
	title Payslip View
	ul.custom-menu
		li(data-action="edit") Edit
		li(data-action="view") View
	.ui.middle.center.aligned.grid.stackable.doubling
		// Title
		.fourteen.wide.column.row#menu-row
			.ui.container
				h1.ui.dividing.header.center.aligned Payslip

		// buttons
		.ui.container.right.aligned
			.search-bar.ui.action.input
				input(type='text', placeholder='Search...')
				button.ui.basic.circular.icon.button
					i.search.icon
			button#add-payslip-button.ui.basic.circular.icon.button(onclick="location.replace('/payslip')")
				i.plus.icon
			button#edit-payslip-button.ui.basic.circular.icon.button
				i.edit.icon
			button#delete-payslip-button.ui.basic.circular.icon.button
				i.trash.outline.icon

		// Table Proper
		.ui.container
			table#payslip-view-table.ui.table.sortable.selectable
				thead
					tr
						th
							.ui.master.checkbox
								input(type="checkbox", name="employee-master-checkbox")
								label
						th AN
						//- th Issued By
						//- th eID
						th Name
						th Base Salary
						th Start Date
						th End Date
						th Deductibles
						//- th Amount
						th Allowance
						//- th Amount
						th PhilHealth
						th SSS
						th HDMF
						//- th ER PhilHealth
						//- th ER SSS
						//- th ER HDMF
						th BIR Tax
						th Net
				tbody
					each item, index in transactions
						tr.entry(data-an= item.adviceNumber)
							td
								.ui.checkbox
									input(type="checkbox", name="employee-checkbox", data-an=item.adviceNumber)
									label
							//- td= item.adviceNumber
							//- td= item.issuedBy
							td.eID(value=item.eID)= item.eID
							td= item.startDate
							td.endDate= item.endDate
							//- td= item.deductibles_name
							td
								each i, index in item.deductibles
									if index != 0
										br
									=i
							//- td= item.allowance_name
							td
								each i, index in item.allowance
									if index != 0
										br
									=i
							td= item.PHreduc
							td= item.SSSreduc
							td= item.HDMFreduc
							//- td= item.EmployerPH
							//- td= item.EmployerSSS
							//- td= item.EmployerHDMF
							td= item.BIR
							td= item.total
					
		//PRINT BUTTON
		.ui.container
			button.ui.button.right.floated.column.center.aligned#print-payslip-button Print  
				i.print.icon
		
		.ui.basic.modal.view
			//- .ui.icon.header
			//- 	i.file.text.icon
			//- 	| View Data
			.ui.icon.header
				h1 View Data
			.content
				.ui.grid
					.one.wide.column.right-align
						b AN:
					.two.wide.column
						#AN.div-underline.center-align
							span.center-align
					.two.wide.column.right-align
						b Name: 
					.four.wide.column
						#name.div-underline.center-align
							span.center-align
					.three.wide.column.right-align
						b Date Issued:
					.four.wide.column
						#dateToday.div-underline.center-align
							span.center-align
					.two.wide.column.right-align
						b Company: 
					.six.wide.column
						#company.div-underline
							span.indent
					.two.wide.column.right-align
						b Gross:
					.six.wide.column
						#gross.div-underline
							span.indent
					.two.wide.column.right-align
						b Date Start:
					.five.wide.column
						#dateStart.div-underline.center-align
							span.center-align
					.three.wide.column.right-align
						b Date End:
					.six.wide.column
						#dateEnd.div-underline.center-align
							span.center-align
					.two.wide.column.right-align
						b PhilHealth:
					.two.wide.column
						#philHealth.div-underline
							span.indent-1
					.one.wide.column.right-align
						b SSS:
					.three.wide.column
						#SSS.div-underline.center-align
							span
					.two.wide.column.right-align
						b HDMF:
					.two.wide.column
						#HDMF.div-underline.center-align
							span
					.one.wide.column.right-align
						b BIR:
					.three.wide.column
						#BIR.div-underline.center-align
							span
					.three.wide.column.right-align
						b PhilHealth ER:
					.three.wide.column
						#philHealthER.div-underline
							span.indent-1
					.two.wide.column.right-align
						b SSS ER:
					.three.wide.column
						#SSSER.div-underline.center-align
							span
					.two.wide.column.right-align
						b HDMF ER:
					.three.wide.column
						#HDMFER.div-underline.center-align
							span
					.eight.wide.column
						table.ui.small.compact.celled.inverted.table#deductibles-table
							thead
								tr
									th Deductibles
									th Amount
							tbody
					.eight.wide.column
						table.ui.small.compact.celled.inverted.table#allowance-table
							thead
								tr
									th Allowance
									th Amount
							tbody
					br
					.four.wide.right.floated.column
						b Total: 
						#total.div-underline
							span
			.actions
				.ui.green.ok.inverted.button
					i.checkmark.icon
					b Done

	script(type='text/javascript').
		var employees =!{JSON.stringify(employees)};
		var transactions =!{JSON.stringify(transactions)};
	//- script(type='text/javascript', src='/javascripts/sorttable.js')
	script(src='javascripts/table.js')
	script(type='text/javascript', src='javascripts/payslip_view.js')