//- link(rel="stylesheet", type="text/css", href="semantic/dist/semantic.min.css")
//- script(src="semantic/dist/semantic.min.js")
extends layout

block content

	// <script src="http://semantic-ui.com/javascript/library/tablesort.js"></script>
	.ui.middle.aligned.center.aligned.grid
		// Table Title
		.row#view-row
			.ui.center.aligned
				h1 Pay Slip
		// buttons
		.row
			.four.wide.column.right.floated
				button.ui.button(onclick="location.replace('/payslip')") ADD
				.ui.button EDIT
				.ui.button DELETE
		.ui.fitted.divider
		// Table Proper
		.column.row.sixteen.wide
			.column.sixteen.wide.middle.floated(style="height: 100%; overflow: scroll; width: 100%;")
				table.ui.table.fluid.collapsing.selectable.line.sortable.top.aligned
					thead
						tr
							th AN
							th Issued By
							th eID
							th Name
							th Base Salary
							th Start Date
							th End Date
							th Deductibles
							th Amount
							th Allowance
							th Amount
							th PhilHealth
							th SSS
							th HDMF
							th ER PhilHealth
							th ER SSS
							th ER HDMF
							th BIR Tax
							th Net
					tbody
						for item in transactions
							tr
								td= item.adviceNumber
								td= item.issuedBy
								td.eID(value=item.eID)= item.eID
								td=	item.eID
								td= item.eID
								td= item.startDate
								td= item.endDate
								td= item.deductibles_name
								td= item.deductibles
								td= item.allowance_name
								td= item.allowance
								td= item.PHreduc
								td= item.SSSreduc
								td= item.HDMFreduc
								td= item.EmployerPH
								td= item.EmployerSSS
								td= item.EmployerHDMF
								td= item.BIR
								td= item.total
		// PRINT BUTTON
		.ten.column.row
			.right.floated.fluid.column
				.ui.fluid.button#print-button Print
		.row

	script(src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js")
	script(type='text/javascript' src='javascripts/scripts.js')
	script(type='text/javascript').
		var employees =!{JSON.stringify(employees)};
	script(src='javascripts/table.js')