extends layout

block content
	title Payslip View
	// <script src="http://semantic-ui.com/javascript/library/tablesort.js"></script>
	.ui.middle.aligned.center.aligned.grid(style = "background-color: #9E6363 !important")
		// Table Title
		.row#view-row
			#section-title.ui.center.aligned(style='margin: 80 10 10 10;')
				h1 Pay Slip
		// buttons
		.row(style = "padding: 5 5 5 5 !important")
			button#add-payslip-button.ui.button(onclick="location.replace('/payslip')") ADD
			#edit-payslip-button.ui.button EDIT
			#delete-payslip-button.ui.button DELETE
		// Table Proper
		.row
			.ui.container(style="overflow: scroll; height: 55vh")
				table#payslip-view-table.ui.basic.table.fluid.collapsing.selectable.line.sortable.top.aligned
					thead
						tr
							th AN
							th Issued By
							th eID
							th Name
							th Base Salary
							th Start Date
							th End Date
							th Deductibles
							th Amount
							th Allowance
							th Amount
							th PhilHealth
							th SSS
							th HDMF
							th ER PhilHealth
							th ER SSS
							th ER HDMF
							th BIR Tax
							th Net
					tbody
						each item, index in transactions
							tr
								td= item.adviceNumber
								td= item.issuedBy
								td.eID(value=item.eID)= item.eID
								td= item.startDate
								td.endDate= item.endDate
								//- td
								//- td= item.deductibles
								//- // td= item.allowance_name
								//- td= item.allowance
								td= item.PHreduc
								td= item.SSSreduc
								td= item.HDMFreduc
								td= item.EmployerPH
								td= item.EmployerSSS
								td= item.EmployerHDMF
								td= item.BIR
								td= item.total

		// PRINT BUTTON
		.row.column.fourteen.wide.middle.floated
			.two.wide.right.floated.column
				.ui.fluid.button#print-payslip-button Print


	script(src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js")
	script(type='text/javascript' src='javascripts/scripts.js')
	script(type='text/javascript').
		var employees =!{JSON.stringify(employees)};
		var transactions =!{JSON.stringify(transactions)};
	script(src='javascripts/table.js')