//- link(rel="stylesheet", type="text/css", href="semantic/dist/semantic.min.css")
//- script(src="semantic/dist/semantic.min.js")
//- script(src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js")
//- <script src="http://semantic-ui.com/javascript/library/tablesort.js"></script>

extends layout

block content
	.ui.middle.aligned.center.aligned.grid
		// Table Title
		.row#menu-row
			.ui.center.aligned
				h1 Petty Cash
		// buttons
		.row
			.four.wide.column.right.floated
				// <div class="ui segment">
				button.ui.button(onclick="location.replace('/pettycash')") ADD
				.ui.button EDIT
				.ui.button DELETE
				// </div>
		.ui.fitted.divider
		// Table Proper
		.column.row
			table.ui.table.fluid.selectable.sortable
				thead
					tr
						th.collapsing AN#
						th.two.wide Issued By
						th.three.wide Name
						th.two.wide Date
						th Items
						th.two.wide Price
				tbody
					for item in transactions
						each i, index in item.items
							if index == 0
								tr
									td= item.adviceNumber
									td= item.issuedBy
									td= item.name
									td= item.date
									td= i[0]
									td= i[1]
							else
								tr
									td
									td
									td
									td
									td= i[0]
									td= i[1]
		// PRINT BUTTON
		.ten.column.row
			.right.floated.fluid.column
				.ui.fluid.button#print-button Print
		.row

	script(src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js")
	script(type='text/javascript' src='javascripts/scripts.js')
	script(type='text/javascript').
		$('#print-button').click(function(){
			$('table').printThis();
		});