extends layout

block content
	title Petty Cash View
	.ui.middle.center.aligned.grid.stackable.doubling
		// Title
		.seven.wide.column.row#menu-row(style="margin-top:7vh; margin-bottom:0;")
			.section-title.ui.center.aligned.segment(style="margin-bottom:0;")
				h1 Petty Cash

		// buttons
		.row.button-row
			button#add-petty-cash-button.ui.button(onclick="location.replace('/pettycash')") ADD
			.ui.button EDIT
			.ui.button DELETE

		// Table Proper
		.ui.raised.segment.row
			.ui.container.view-table
				table#petty-cash-view-table.ui.table.fluid.selectable.sortable
					thead
						tr
							th.collapsing AN#
							th.two.wide Issued By
							th.three.wide Name
							th.two.wide Date
							th Items
							th.two.wide Price
					tbody
						for item in transactions
							each i, index in item.items
								if index == 0
									tr
										td= item.adviceNumber
										td= item.issuedBy
										td= item.name
										td= item.date
										td= i[0]
										td= i[1]
								else
									tr
										td
										td
										td
										td
										td= i[0]
										td= i[1]
				
		// PRINT BUTTON
		.fifteen.wide.column(style="padding: 0 1em 1em 1em !important;")
			button.ui.button.right.floated.column#print-petty-cash-button Print


	script(src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js")
	script(type='text/javascript' src='javascripts/scripts.js')
	script(type='text/javascript').
		$('#print-button').click(function(){
			$('table').printThis({
				header: "<div style='width: 100%; margin: 0 auto;'><img style='width: 20%;' src='images/header.png'></img></div>"
			});
		});